﻿<div class="jumbotron">
    <h1>CA.Core.WebApi</h1>
    <p class="lead">Caardus Argentatus es un framework .Net para construir aplicaciones empresariales</p>
    <p>Utiliza, entre otros componentes:</p>
    <ul>
        <li><b>Ninject:</b> Para inyectar dependencias en controladores y servicios</li>
        <li><b>FluentNHibernate:</b> Persistencia de entidades</li>
        <li><b>Automapper:</b> Mapeos bidireccionales de entidad a dto</li>
        <li><b>NLog:</b> Logs de mensajes y excepciones</li>
    </ul>
</div>
